:root{
    --box-shadow: 0px 18px 50px -10px rgba(0, 0, 0, 0.2);
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    transition: all 0.6s;
    outline-style: none;
    /*Tirar a box ao clicar no botão no modo mobile*/
    -webkit-tap-highlight-color: transparent;
}
.body.dark{
    background: #252525;
    transition: all 0.6s;
}
input[type="checkbox"]{
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}
.check{
    cursor: pointer;
    overflow: hidden;
    position: relative;
    display: block;
    width: 160px;
    height: 80px;
    background: #cacaca;
    border-radius: 80px;
    box-shadow: var(--box-shadow);
    transition:ease-in-out 0.45s;
    -webkit-tap-highlight-color: transparent;
}
.button{
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    background: #fff;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    transition: ease-in-out 0.45s;
    -webkit-tap-highlight-color: transparent;
}
